@page "/business/{BusinessId:int}/addPackage"
@using EcoMeal.Client.Models
@using EcoMeal.Client.Services

<PageTitle>Add Package</PageTitle>

<div class="container">

        <div class="card my-4 rounded-4 border-success">
                <div class="card-body">
                        <h2>Add Package:</h2>
                </div>
        </div>

        <div class="card my-4 rounded-4 border-success">
                <div class="card-body">
                        <EditForm Model = "PackageAddModel" OnValidSubmit="AddPackageToBusiness">

                                <DataAnnotationsValidator />
                                @* <ValidationSummary /> *@

                                <label class = "form-label"Nume</label>
                                <InputText class="form-control mb-2" 
                                        @bind-Value="PackageAddModel.Name" 
                                        placeholder="Adauga numele pachetului"></InputText>
                                <ValidationMessage For="@(() => PackageAddModel.Name)" />

                                <label class = "form-label"Nume</label>
                                <InputTextArea class="form-control mb-2" 
                                        @bind-Value="PackageAddModel.Description" 
                                        placeholder="Descrierea pachetului"></InputTextArea>
                                <ValidationMessage For="@(() => PackageAddModel.Description)" />
                                
                                <label class = "form-label"Nume</label>
                                <InputNumber class="form-control mb-2" 
                                        @bind-Value="PackageAddModel.Price" 
                                        placeholder="Pretul produsului (RON)"></InputNumber>
                                <ValidationMessage For="@(() => PackageAddModel.Price)" />

                                <label class = "form-label"Nume</label>
                                <InputDate class="form-control mb-2" 
                                        Type="InputDateType.DateTimeLocal"
                                        @bind-Value="PackageAddModel.StartPickup" 
                                        placeholder="StartPickup"></InputDate>
                                <ValidationMessage For="@(() => PackageAddModel.StartPickup)" />
                                
                                <label class = "form-label"Nume</label>
                                <InputDate class="form-control mb-2" 
                                        Type="InputDateType.DateTimeLocal"
                                        @bind-Value="PackageAddModel.EndPickup" 
                                        placeholder="EndPickup"></InputDate>
                                <ValidationMessage For="@(() => PackageAddModel.EndPickup)" />
                                
                                <label class="form-label">Tip pachet</label>
                                <InputSelect @bind-Value="PackageAddModel.PackageTypeId"
                                                class="form-control mb-2">
                                        <option value="0"
                                                disabled>Alege tipul pachetului</option>
                                        @foreach (var packageType in PackageTypes)
                                        {
                                                @if(packageType.Id is not 1){
                                                        <option value="@packageType.Id">@packageType.Name</option>
                                                }
                                        }
                                        @* The "other option has to be shown last"*@
                                        @foreach (var packageType in PackageTypes)
                                        {
                                                @if(packageType.Id is 1){
                                                        <option value="@packageType.Id">@packageType.Name</option>
                                                }
                                        }

                                </InputSelect>
                                <button type="submit" class="btn btn-primary mt-3">Adauga Pachet</button>
                        </EditForm>
                </div>
        </div>
</div>


@code{
    [Parameter]
    public int BusinessId { get; set; }
    [Inject]
    public required BusinessService BusinessService { get; set; }
    [Inject]
    public required PackageTypeService PackageTypeService { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    public BusinessDetailsModel? Business { get; set; } 

    private List<PackageTypeModel>? PackageTypes { get; set; } = new List<PackageTypeModel>();

    protected override async Task OnInitializedAsync()
    {
        PackageTypes = await PackageTypeService.GetAllPackageTypes();
        Business = await BusinessService.GetOneById(BusinessId);
    }


    public PackageAddModel PackageAddModel { get; set; } = new PackageAddModel(){
        Name = string.Empty,
        Description = string.Empty,
        Price = 0,
        StartPickup = DateTime.Now,
        EndPickup = DateTime.Now.AddHours(2),
        PackageTypeId = 0
    };


    public async Task AddPackageToBusiness(){
        await BusinessService.AddPackageToBusiness(BusinessId,PackageAddModel);
        NavigateToBusinessDetails();
    }

    public void NavigateToBusinessDetails(){
        NavigationManager.NavigateTo($"/business/{BusinessId}");
    }
    
}