@page "/business/{Id:int}"
@using EcoMeal.Client.Models
@using EcoMeal.Client.Services;

@using EcoMeal.Client.Components.PackageList
@using Microsoft.AspNetCore.Components.Authorization

@if(Business == null){
        <h2>Loading...</h2>
        return;
}

<div class="container my-4">
    <h1 class="mb-3">@Business.Name</h1>
    <p class="text-muted mb-4">@Business.Description</p>
    <p class="text-muted mb-4"><strong>Contact:</strong> @Business.Contact</p>
    <p class="text-muted mb-4"><strong>Business Type:</strong> @Business.BusinessTypeName</p>
    <p class="text-muted mb-4"><strong>Address:</strong> @Business.Address</p>


    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h2 class="mb-0">Packages:</h2>
        <AuthorizeView Roles = "Admin">
            <button type="button"
                class="btn btn-primary" @onclick="NavigateToAddPackage">
                 + Add Package
            </button>
        </AuthorizeView>
    </div>
</div>

<PackageList BusinessId="Id" />


@code {
        [Parameter]
        public int Id { get; set; }

        [Inject]
        public required BusinessService BusinessService { get; set; }
        [Inject]
        public required NavigationManager NavigationManager { get; set; } 

        private BusinessDetailsModel? Business { get; set; }


        public void NavigateToAddPackage(){
            NavigationManager.NavigateTo($"business/{Id}/addPackage");
        }

        protected override async Task OnInitializedAsync()
        {
            Business = await BusinessService.GetOneById(Id);
        }
}