@page "/business/{BusinessId:int}/package/{PackageId:int}/edit"
@using EcoMeal.Client.Models
@using EcoMeal.Client.Services

<PageTitle>Edit Package</PageTitle>

@if(Package == null){
        <h2>Se incarca...</h2>
        return;
}

<h2>Editeaza pachetul</h2>

<EditForm Model = "PackageEdit" OnValidSubmit="UpdatePackage">

    <DataAnnotationsValidator />

    <label class = "form-label"Nume</label>
    <InputText class="form-control mb-2" 
            @bind-Value="PackageEdit.Name" 
            placeholder="Adauga numele pachetului"></InputText>
    <ValidationMessage For="@(() => PackageEdit.Name)" />

    <label class = "form-label"Nume</label>
    <InputTextArea class="form-control mb-2" 
            @bind-Value="PackageEdit.Description" 
            placeholder="Descrierea pachetului"></InputTextArea>
    <ValidationMessage For="@(() => PackageEdit.Description)" />
    
    <label class = "form-label"Nume</label>
    <InputNumber class="form-control mb-2" 
            @bind-Value="PackageEdit.Price" 
            placeholder="Pretul produsului (RON)"></InputNumber>
    <ValidationMessage For="@(() => PackageEdit.Price)" />

    <label class = "form-label"Nume</label>
    <InputDate class="form-control mb-2" 
            Type="InputDateType.DateTimeLocal"
            @bind-Value="PackageEdit.StartPickup" 
            placeholder="StartPickup"></InputDate>
    <ValidationMessage For="@(() => PackageEdit.StartPickup)" />
    
    <label class = "form-label"Nume</label>
    <InputDate class="form-control mb-2" 
            Type="InputDateType.DateTimeLocal"
            @bind-Value="PackageEdit.EndPickup" 
            placeholder="EndPickup"></InputDate>
    <ValidationMessage For="@(() => PackageEdit.EndPickup)" />
    
    <label class="form-label">Tip pachet</label>
    <InputSelect @bind-Value="PackageEdit.PackageTypeId"
                 class="form-control mb-2">
        <option value="0"
                disabled>Alege tipul pachetului</option>
        @foreach (var packageType in PackageTypes)
        {
                @if(packageType.Id is not 1){
                        <option value="@packageType.Id">@packageType.Name</option>
                }
        }
        @foreach (var packageType in PackageTypes)
        {
                @if(packageType.Id is 1){
                        <option value="@packageType.Id">@packageType.Name</option>
                }
        }

    </InputSelect>
    <button type="submit" class="btn btn-primary mt-3">Salveaza schimbari pachet</button>
</EditForm>


@code{
    [Parameter]
    public int BusinessId { get; set; }
    [Parameter]
    public int PackageId { get; set; }
    [Inject]
    public required BusinessService BusinessService { get; set; }
    [Inject]
    public required PackageService PackageService { get; set; }
[Inject]
    public required PackageTypeService PackageTypeService { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private List<PackageTypeModel>? PackageTypes { get; set; } = new List<PackageTypeModel>();

    public required PackageModel Package { get; set; }
    public required PackageEditModel PackageEdit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PackageTypes = await PackageTypeService.GetAllPackageTypes();
        Package = await PackageService.GetPackageById(PackageId);
        if(Package != null){
                PackageEdit = new PackageEditModel{
                        Id = Package.Id,
                        Name = Package.Name,
                        Description = Package.Description,
                        Price = Package.Price,
                        StartPickup = Package.StartPickup,
                        EndPickup = Package.EndPickup,
                        PackageTypeId = Package.PackageTypeId
                };
        }
    }


    public async Task UpdatePackage(){
        await PackageService.UpdatePackage(PackageEdit);
        NavigateToBusinessDetails();
    }

    public void NavigateToBusinessDetails(){
        NavigationManager.NavigateTo($"/business/{BusinessId}");
    }
    
}