@page "/orders/my"
@namespace EcoMeal.Client.Components.Pages.MyOrders

<PageTitle>My Orders</PageTitle>
<div class="container">
    <div class="card my-4 rounded-4 border-success">
        <div class="card-body">
            <h1>My Orders:</h1>
        </div>
    </div>

    @if(MyOrdersList is null){
        <p>Loading...</p>
    }else if(!MyOrdersList.Any()){
        <div class="alert">
            You don't have any orders yet.
        </div>
    }else{

        <div class="container">
            <div class="row g-3">
                @foreach(var order in MyOrdersList){
                    <div class="col-12">
                        <div class="card rounded-4 border-success">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h3 class = "card-title mb-1">@order.PackageName</h3>
                                    <p class="text-muted small">@order.BusinessName</p>
                                    <p class="text-muted small">@order.Date.ToString("dd.MM.yyyy HH:mm")</p>
                                </div>
                                <div class="text-end">
                                    <span class="badge rounded=pill bg-success-subtle text-success-emphasis">@order.Status</span>
                                    <div class="fw-semibold">@order.Price RON</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>